* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
}
.box1 {
    background-color: paleturquoise;
    width: 100px;
    height: 100px;
}
.box2 {
    background-color: salmon;
    width: 100px;
    height: 100px;
}
.box3 {
    background-color: limegreen;
    width: 100px;
    height: 100px;
}
.box4 {
    background-color: pink;
    width: 200px;
    height: 100px;
}
.box5 {
    background-color: violet;
    width: 100px;
    height: 100px;
}
.box6 {
    background-color: peachpuff;
    width: 200px;
    height: 100px;
}
.box7 {
    background-color: plum;
    width: 100px;
    height: 50px;
}
.box8 {
    background-color: aquamarine;
    position: relative;
    width: 100px;
    height: 50px;
}